<div class="container">
  <div class="row projects">
    <div class="col-12 projects-header">Our projects</div>
    <div class="col-12 projects-header-dialog">We combine our knowledge, design, expertise with Real-World</div>

    <div class="col-12">
      <div class="row projects-component">
        <div class="col-md-8 projects-component-text d-flex align-items-center">
          <div>
            <div class="projects-component-text-title">
              <a href="https://academy.moninfotech.com" target="_blank">Academy Uses SMS Gateway (MSMS)</a>
            </div>
            SMS services have become much more widely used within schools recently as a highly effective means of communication with
            parents and carers. Our web-based SMS service, enables schools/ college/ coaching-centers to maintain an address
            book of parents securely online, and then select a list of recipients to send a simple SMS message to, confirming
            a pupil’s absence.
          </div>

        </div>
        <div class="col-md-4 projects-component-image">
          <img src="assets/images/sms.png">
        </div>
      </div>

      <div class="row projects-component">
        <div class="col-md-4 projects-component-image">
          <img src="assets/images/isp.png">
        </div>

        <div class="col-md-8 projects-component-text d-flex align-items-center">
          <div>
            <div class="projects-component-text-title">
              <a href="https://isp.moninfotech.com" target="_blank">ISP Billing System (IBS)</a>
            </div>
            ISP Billing System (IBS) created for Internet service providers and network administrators. It provides many useful functions
            such as billing, invoicing, central configuration and monitoring of equipment, hotspot billing, client portals,
            and much more. </div>
        </div>
      </div>

      <div class="row projects-component">
        <div class="col-md-8 projects-component-text d-flex align-items-center">
          <div>
            <div class="projects-component-text-title">
              <a href="https://www.hotelswave.com" target="_blank">Hotel Reservation System (HRS)</a>
            </div>
            We understand how important direct online bookings are to you and your business. Comprehending that, we use leading-edge
            technology to provide you with an ingenious and powerful online booking engine that gets you infinite bookings
            for zero commission. Keeping the modern traveller in mind, the mobile friendly booking engine can be accessed
            anytime anywhere and it serves as an advanced sales booster helping you maximize revenue.
          </div>
        </div>
        <div class="col-md-4 projects-component-image">
          <img src="assets/images/hrs.png">
        </div>
      </div>

      <div class="row projects-component">
        <div class="col-md-4 projects-component-image">
          <img src="assets/images/tours.png">
        </div>
        <div class="col-md-8 projects-component-text d-flex align-items-center">
          <div>
            <div class="projects-component-text-title">
              <a href="http://www.itoursltd.com/" target="_blank">Travels and Tourism dynamic web service</a>
            </div>
            Tourism is a major revenue making domain globally. Tourism is a kind of travel to obtain leisure-time, spiritual-trip, and
            family or job purposes, typically for a little span of duration. Here the biggest problem is lacking in obtaining
            the available tourism domain resources (Places to visit, Hotel, Pilgrims, and Airways etc). Webservices is playing
            a vital role in the software industry. Web services are the collections of software components and standards
            for the next generation technologies.
          </div>
        </div>
      </div>


    </div>
  </div>

</div>