<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6">

          <div class="box-1">
            <img src="assets/svgs/software.svg">
            <div class="box-1-title">Enterprise Software</div>
            <p>Building world class, Ahed of time (AOT), Enterprise level softwares</p>
          </div>
          <div class="box-1">
            <img src="assets/svgs/ecommerce.svg">
            <div class="box-1-title">E-commerce Website</div>
            <p>The most customizable e-Commerce platform for building your online business. Get started today for free.</p>
          </div>

        </div>
        <div class="col-sm-6">

          <div class="box-2"></div>
          <div class="box-3">
            <img src="assets/svgs/apps.svg">
            <div class="box-1-title">Mobile Apps</div>
            <p>In a world in which apps for mobile devices are like grains of sand, you can stand out from the competition with
              this straightforward proposal template.</p>
          </div>
          <div class="box-1">
            <img src="assets/svgs/webdevelopment.svg">
            <div class="box-1-title">Web Development</div>
            <p>What separates design from art is that design is meant to be... functional.</p>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div class="content">
        <div class="content-title">Our Services</div>
        "The mind once enlightened cannot again become dark."― Thomas Paine
      </div>
    </div>
  </div>
</div>