<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 footer-title">
        <img src="assets/images/logo.png"> MON INFOTECH
      </div>

      <div class="col-12">
        <ul class="footer-menu">
          <li>
            <a href="https://isp.moninfotech.com" target="_blank">ISP accounting</a>
          </li>
          <li>
            <a href="https://academy.moninfotech.com" target="_blank">SMS service</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/career">Career</a>
          </li>
        </ul>
      </div>


    </div>
  </div>

  <div class="col-12 footer-copyright">
    <span>&copy; Copyrigh 2017
      <a href="https://www.moninfotech.com">MON INFOTECH</a> | All right reserved
    </span>
  </div>

</div>